* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* @media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
} */

.main-container {
  display: flex;
  margin-top: 10px;
}

.home,
.user-list {
  flex: 6;
}

.widget {
  display: flex;
  margin: 20px;
}
