.products {
  flex: 6;
  margin: 0 20px;
}

.products .product-info {
  display: flex;
  align-items: center;
}

.products .product-info img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
